# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
*.ipynb_checkpoints

# =========================git s
# MLflow
# =========================
mlruns/
mlruns.db

# =========================
# Models / Checkpoints
# =========================
*.pth
*.pt
*.h5
*.hdf5
*.ckpt
*.pb
checkpoints/
saved_models/
runs/
logs/
wandb/

# =========================
# Dataset (large only)
# =========================
data/
datasets/

# (⚠️ 중요: csv/json 전체 ignore 제거)
# 대신 필요한 것만 선택적으로 관리

# =========================
# Environment Variables
# =========================
.env
*.env

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Build / Packaging
# =========================
dist/
build/
*.egg-info/.env
